<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RednoticiasChiapas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
    <header class="hero-image center-xs" style="margin:0px;width:100%;">
          <div>
          <h1>Conoce lo que sucede a tú alrededor</h1>
          <p>Mantente siempre informado</p>
      </div>
    </header>
    <div class="social_bar">
    <a href="https://www.facebook.com/Red-Noticias-Chiapas-569819096557814/" class="facebook" target="_blank">Facebook</a>
    </div>
    <section class="main center-xs">
      <%= render "articles/arti"%>
    </section>
  </body>
</html>
