<footer>
<div class="container">
  <div class="row middle-xs between-xs">
    <div class="col-xs-12 col-sm-4">
      <div class="nav">
        <a href="<%=root_path%>">Inicio</a>
        <a href="<%=articles_path%>">Artículos</a>
        <a href=" <%=new_user_session_path%>">Iniciar Sesión</a>
        <a href="<%=new_user_registration_path%>">Crear Cuenta</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="logo">
        RednoticiasChiapas
      </div>
    </div>
  </div>
</div>








</footer>
