<div class="logo">
    <span>RednoticiasChiapas</span>
</div>
<nav>
  <a href="<%=root_path%>">Inicio</a>
  <a href="<%=articles_path%>">Artículos</a>
  <a href=" <%=new_user_session_path%>">Iniciar Sesión</a>
  <a href="<%=new_user_registration_path%>">Crear Cuenta</a>
</nav>
