// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-background{
    background-image: url(#{asset-path("background1.jpg") });
    background-size: cover;
    background-repeat: none;
    width: 100%;
}
.main-background1{
    background-image: url(#{asset-path("background.jpg") });
    background-size: cover;
    background-repeat: none;

}
.hero-image{
height: 65vh;
background-size: cover;
background-position: center;
color:white;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
animation: banner 20s infinite;
}
@keyframes banner {
0%, 30%{
background-image: url(#{asset_path('fondo.jpg')});
opacity: 1;
}
31%, 34%{
    opacity: 0.1;
}
 35%, 65%{
background-image: url(#{asset_path('foto.jpg')});
opacity: 1;
}
  66%, 69%{
    opacity: 0.1;
}
   70%, 95%{
background-image: url(#{asset_path('background.jpg')});
opacity: 1;
}
    96%, 100%{
background-image: url(#{asset_path('background.jpg')});
opacity: 0.1;
}

}
