*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
li{list-style: none;}
.contenedor {
	background:#eee;
	width:100%;
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}
.contenedor2 {
	background:#eee;
	width:100%;
	margin:auto;
	height: 400px;
	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}
.contenedor1 {
	background:white;
	width:95%;
	max-width: 1100px;
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}
body {
  background:#A7ADAD;
}
.formu{
	width: 650%;
	display: flex;
	padding: 10px;
  flex-flow: row;
	justify-content: space-between;
	background-color: #212121 !important;
}
header {
	background:#2c3e50;
	width:100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}

header .logo {
	color:#fff;
	font-size:30px;
}

header .logo img {
	width:50px;
	vertical-align: top;
}

header .logo a {
	color:#fff;
	text-decoration: none;
	line-height:50px;
	width: 100px;
}

header nav {
	width:50%;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav a {
	background:#c0392b;
	color:#fff;
	text-align: center;
	text-decoration: none;
	margin: .5em;
	/* Flexbox */
	flex-grow:1;
}

header nav a:hover {
	background:#e74c3c;
	border-bottom: 1px solid white;
	padding-bottom: 12px;
}
header{
	width: 100%;
	color: #fff;
	text-decoration: none;

}
.main{
	width:95%;
	max-width: 1100px;
	margin: auto;
}
.main .thumb{
	margin-bottom: 20px;
}
.main .thumb img{
	width: 100%;
	vertical-align: top;
}
.main {
	background:#fff;
	padding:20px;

	flex:1 1 70%;
	/*flex:1;*/
}

.main article {
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;
}

.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}

aside {
	background:#e67e22;
	padding:20px;
	/*FLEX*/
	flex:1 1 30%;
	/*flex:0 0 300px;*/

	display: flex;
	flex-wrap:wrap;
	flex-direction:column-reverse;
	justify-content:flex-start;
}

aside .widget {
	background: #d35400;
	height:150px;
	margin:10px;
}

footer {
	background:#2c3e50;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .links {
	background:#c0392b;
	display:flex;
	flex-wrap:wrap;
}

footer .links a {
	flex-grow:1;

	color:#fff;
	padding:10px;
	text-align: center;
	text-decoration:none;
}

footer .links a:hover {
	background:#E74C3C;
}

footer .social {
	background:#e67e22;
}

footer .social a {
	color:#fff;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}

@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:row;
		padding:0;
	}

	header .logo {
		margin:20px 0;
	}

	header nav {
		width: 100%;
	}

	aside {
		flex-direction:row;
		flex:0;
	}

	aside .widget {
		flex-grow:1;
	}
}

@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}
}
footer{
background:  rgba(0, 0,0,.6);
color: #fff;
padding: 10px 0;
width: 100%;
margin: 0px;
}
footer .nav a{
width: 100%;
display: block;
padding: 10px;
color: #fff;
text-decoration: none;
border-bottom: 1px solid rgba(255, 255,255,.2);
}
footer .nav a:hover{
	text-decoration: underline;
}
footer .logo{
background: #1EB078;
color: #fff;
padding: 15px;
border-radius: 0 20px 0 20px;
font-size: 30px;

}
.btn{
  background-color: inherit;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: .8em;
  padding: 5px 8px;
  background:#1ED0FF;
  color: #fff;
  text-decoration: none;
  border: solid #fff;
	height: 50px;
	width: 95%;
}
.full-height{height: 100%}
.no-margin{margin: 0px;}
.big-padding{padding: 1em 1em;}
.top-space{margin-top: 1em;}

//header nav
.caja{
height: 350px;

}
.caja1{
height: 400px;
}
.form-control{
    border: none;
    border-bottom: 1px solid;
    outline: none;
    width: 90%;
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
	background: none;
}
.text-right{text-align: right;}
.large-padding{
padding: 10px 9px;
}
.absolute{position: absolute;}
.relative{
position: relative;
}
.article-height{
height: 150px;
max-height: 200px;

}
.background-cover{
    background-position: center;
    background-size: cover;
}

.hero-image h1{
     font-size: 40px;
     margin: 0px;
     text-shadow: 8px 0px 5px #000;
        color:white;
}
.hero-image p{
    font-size: 30px;
     text-shadow: 8px 0px 3px #000;
      color:white;
}
.titulo{
	font-size: 26px;
	color:white;
	text-decoration: none;
}

.text-right{text-align: right;}
.be-small{font-size: 12px;}
@media screen and (max-width: 300px) {
	.main .thumb img{
		width: 100%;
		vertical-align: top;
	}
	footer{
		width: 100%;

.logo{
	width: 95%;
}	}
.caja{
height: 420px;
}
.caja1{
height: 490px;
}
.actions{
	font-size: 10px;
	margin-top: 2em;
	align-content: center;
	justify-content: center;
}
}
